
body, html {
    overflow-x: hidden;
}

.pink-color {
    color: #CB3362 !important;
}

.navbar {
    background-color: rgba(226, 222, 226, 0.683) !important;
}


.small-toggler {
    width: 30px;           
    height: 30px;         
    padding: 0;            
    border: none;          
}


.small-toggler .navbar-toggler-icon {
    background-size: 20px 20px; 
}

.newProduct{
    background-color: rgba(226, 222, 226, 0.683) !important;
}
.icon-section{
    background-color: rgb(176, 202, 80);
}
.icon-size{
        font-size: 50px !important;
}
.footer-section{
    background-color: #CB3362;
    max-height: 40vh !important;
}.icon-box {
    width: 40px;           
    height: 40px;           
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
    color: #CB3362;         
    border-radius: 8px;     
   
}

.icon-box:hover {
    background-color: rgb(176, 202, 80);
    color: #fff;               
}
